In [53]:
import pandas as pd

# ---------------- Pandas settings --------------- #
# Removes rows and columns truncation of '...'
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [54]:
STATES_COORD = [
    {
        "state": "Alabama",
        "latitude": 32.806671,
        "longitude": -86.791130,
        "state_abbrv": "AL",
    },
    {
        "state": "Alaska",
        "latitude": 61.370716,
        "longitude": -152.404419,
        "state_abbrv": "AK",
    },
    {
        "state": "Arizona",
        "latitude": 33.729759,
        "longitude": -111.431221,
        "state_abbrv": "AZ",
    },
    {
        "state": "Arkansas",
        "latitude": 34.969704,
        "longitude": -92.373123,
        "state_abbrv": "AR",
    },
    {
        "state": "California",
        "latitude": 36.116203,
        "longitude": -119.681564,
        "state_abbrv": "CA",
    },
    {
        "state": "Colorado",
        "latitude": 39.059811,
        "longitude": -105.311104,
        "state_abbrv": "CO",
    },
    {
        "state": "Connecticut",
        "latitude": 41.597782,
        "longitude": -72.755371,
        "state_abbrv": "CT",
    },
    {
        "state": "Delaware",
        "latitude": 39.318523,
        "longitude": -75.507141,
        "state_abbrv": "DE",
    },
    {
        "state": "District of Columbia",
        "latitude": 38.897438,
        "longitude": -77.026817,
        "state_abbrv": "DC",
    },
    {
        "state": "Florida",
        "latitude": 27.766279,
        "longitude": -81.686783,
        "state_abbrv": "FL",
    },
    {
        "state": "Georgia",
        "latitude": 33.040619,
        "longitude": -83.643074,
        "state_abbrv": "GA",
    },
    {
        "state": "Hawaii",
        "latitude": 21.094318,
        "longitude": -157.498337,
        "state_abbrv": "HI",
    },
    {
        "state": "Idaho",
        "latitude": 44.240459,
        "longitude": -114.478828,
        "state_abbrv": "ID",
    },
    {
        "state": "Illinois",
        "latitude": 40.349457,
        "longitude": -88.986137,
        "state_abbrv": "IL",
    },
    {
        "state": "Indiana",
        "latitude": 39.849426,
        "longitude": -86.258278,
        "state_abbrv": "IN",
    },
    {
        "state": "Iowa",
        "latitude": 42.011539,
        "longitude": -93.210526,
        "state_abbrv": "IA",
    },
    {
        "state": "Kansas",
        "latitude": 38.526600,
        "longitude": -96.726486,
        "state_abbrv": "KS",
    },
    {
        "state": "Kentucky",
        "latitude": 37.668140,
        "longitude": -84.670067,
        "state_abbrv": "KY",
    },
    {
        "state": "Louisiana",
        "latitude": 31.169546,
        "longitude": -91.867805,
        "state_abbrv": "LA",
    },
    {
        "state": "Maine",
        "latitude": 44.693947,
        "longitude": -69.381927,
        "state_abbrv": "ME",
    },
    {
        "state": "Maryland",
        "latitude": 39.063946,
        "longitude": -76.802101,
        "state_abbrv": "MD",
    },
    {
        "state": "Massachusetts",
        "latitude": 42.230171,
        "longitude": -71.530106,
        "state_abbrv": "MA",
    },
    {
        "state": "Michigan",
        "latitude": 43.326618,
        "longitude": -84.536095,
        "state_abbrv": "MI",
    },
    {
        "state": "Minnesota",
        "latitude": 45.694454,
        "longitude": -93.900192,
        "state_abbrv": "MN",
    },
    {
        "state": "Mississippi",
        "latitude": 32.741646,
        "longitude": -89.678696,
        "state_abbrv": "MS",
    },
    {
        "state": "Missouri",
        "latitude": 38.456085,
        "longitude": -92.288368,
        "state_abbrv": "MO",
    },
    {
        "state": "Montana",
        "latitude": 46.921925,
        "longitude": -110.454353,
        "state_abbrv": "MT",
    },
    {
        "state": "Nebraska",
        "latitude": 41.125370,
        "longitude": -98.268082,
        "state_abbrv": "NE",
    },
    {
        "state": "Nevada",
        "latitude": 38.313515,
        "longitude": -117.055374,
        "state_abbrv": "NV",
    },
    {
        "state": "New Hampshire",
        "latitude": 43.452492,
        "longitude": -71.563896,
        "state_abbrv": "NH",
    },
    {
        "state": "New Jersey",
        "latitude": 40.298904,
        "longitude": -74.521011,
        "state_abbrv": "NJ",
    },
    {
        "state": "New Mexico",
        "latitude": 34.840515,
        "longitude": -106.248482,
        "state_abbrv": "NM",
    },
    {
        "state": "New York",
        "latitude": 42.165726,
        "longitude": -74.948051,
        "state_abbrv": "NY",
    },
    {
        "state": "North Carolina",
        "latitude": 35.630066,
        "longitude": -79.806419,
        "state_abbrv": "NC",
    },
    {
        "state": "North Dakota",
        "latitude": 47.528912,
        "longitude": -99.784012,
        "state_abbrv": "ND",
    },
    {
        "state": "Ohio",
        "latitude": 40.388783,
        "longitude": -82.764915,
        "state_abbrv": "OH",
    },
    {
        "state": "Oklahoma",
        "latitude": 35.565342,
        "longitude": -96.928917,
        "state_abbrv": "OK",
    },
    {
        "state": "Oregon",
        "latitude": 44.572021,
        "longitude": -122.070938,
        "state_abbrv": "OR",
    },
    {
        "state": "Pennsylvania",
        "latitude": 40.590752,
        "longitude": -77.209755,
        "state_abbrv": "PA",
    },
    {
        "state": "Rhode Island",
        "latitude": 41.680893,
        "longitude": -71.511780,
        "state_abbrv": "RI",
    },
    {
        "state": "South Carolina",
        "latitude": 33.856892,
        "longitude": -80.945007,
        "state_abbrv": "SC",
    },
    {
        "state": "South Dakota",
        "latitude": 44.299782,
        "longitude": -99.438828,
        "state_abbrv": "SD",
    },
    {
        "state": "Tennessee",
        "latitude": 35.747845,
        "longitude": -86.692345,
        "state_abbrv": "TN",
    },
    {
        "state": "Texas",
        "latitude": 31.054487,
        "longitude": -97.563461,
        "state_abbrv": "TX",
    },
    {
        "state": "Utah",
        "latitude": 40.150032,
        "longitude": -111.862434,
        "state_abbrv": "UT",
    },
    {
        "state": "Vermont",
        "latitude": 44.045876,
        "longitude": -72.710686,
        "state_abbrv": "VT",
    },
    {
        "state": "Virginia",
        "latitude": 37.769337,
        "longitude": -78.169968,
        "state_abbrv": "VA",
    },
    {
        "state": "Washington",
        "latitude": 47.400902,
        "longitude": -121.490494,
        "state_abbrv": "WA",
    },
    {
        "state": "West Virginia",
        "latitude": 38.491226,
        "longitude": -80.954453,
        "state_abbrv": "WV",
    },
    {
        "state": "Wisconsin",
        "latitude": 44.268543,
        "longitude": -89.616508,
        "state_abbrv": "WI",
    },
    {
        "state": "Wyoming",
        "latitude": 42.755966,
        "longitude": -107.302490,
        "state_abbrv": "WY",
    },
]

REVERSE_STATES_MAP = {}
for row in STATES_COORD:
    REVERSE_STATES_MAP [row["state_abbrv"]] = row["state"]

STATES_MAP = {}
for row in STATES_COORD:
    STATES_MAP[row["state"]] = row["state_abbrv"]

STATES_MAP

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [55]:
def read_df(url):
    import string
    df = pd.read_csv(url)
    df.columns= df.columns.str.lstrip(string.punctuation)
    df.columns = df.columns.str.rstrip(string.punctuation)
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")
    return df

confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
info = "https://raw.githubusercontent.com/ncov19-us/ds/master/population-income-and-hospitals/county-level-hospital-population-and-income-data.csv"


confirmed = read_df(confirmed)
deaths = read_df(deaths)
info = read_df(info)


def wrangle(confirmed, deaths, info):
    confirmed = confirmed[confirmed['province_state'].isin(STATES_MAP.keys())]
    deaths = deaths[deaths['province_state'].isin(STATES_MAP.keys())]
    info = info[info["state"].isin(STATES_MAP.values())]

    
    return (confirmed, deaths, info)

confirmed.shape, deaths.shape, info.shape

((3253, 80), (3253, 81), (3221, 10))

In [56]:
confirmed.head()

,uid,iso2,iso3,code3,fips,admin2,province_state,country_region,lat,long,combined_key,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,2/1/2020,2/2/2020,2/3/2020,2/4/2020,2/5/2020,2/6/2020,2/7/2020,2/8/2020,2/9/2020,2/10/2020,2/11/2020,2/12/2020,2/13/2020,2/14/2020,2/15/2020,2/16/2020,2/17/2020,2/18/2020,2/19/2020,2/20/2020,2/21/2020,2/22/2020,2/23/2020,2/24/2020,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,3/29/2020,3/30/2020
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,5,12,14,15,27,29,32,37,45,51,55,56,58
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,5,14,21,23,31,39,51,64,79,100,127,174
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,3,3,6,6,7,17,17,17,19,22,0,0

In [57]:
deaths.head()

,uid,iso2,iso3,code3,fips,admin2,province_state,country_region,lat,long,combined_key,population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,2/1/2020,2/2/2020,2/3/2020,2/4/2020,2/5/2020,2/6/2020,2/7/2020,2/8/2020,2/9/2020,2/10/2020,2/11/2020,2/12/2020,2/13/2020,2/14/2020,2/15/2020,2/16/2020,2/17/2020,2/18/2020,2/19/2020,2/20/2020,2/21/2020,2/22/2020,2/23/2020,2/24/2020,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,3/29/2020,3/30/2020
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",55641,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",164229,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",55144,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",2933408,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,2,2,2,2,3,3,3,6
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",107268,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [58]:
info.head()

,state,name,censusarea,latitude,longitude,hospital_count,bed_count,fips_plotly,popestimate2018,median_household_income_2018
0,AL,Autauga,594.436,32.536153,-86.641196,1.0,85.0,1001.0,55601.0,59338.0
1,AL,Blount,644.776,33.985248,-86.569756,1.0,40.0,1009.0,57840.0,50412.0
2,AL,Chambers,596.531,32.911594,-85.389924,1.0,115.0,1017.0,33615.0,39917.0
3,AL,Chilton,692.854,32.850253,-86.719793,1.0,26.0,1021.0,44153.0,47547.0
4,AL,Colbert,592.619,34.701644,-87.805890,2.0,363.0,1033.0,54762.0,49055.0

In [59]:


confirmed.shape, deaths.shape, info.shape

((3246, 80), (3246, 81), (3143, 10))

In [60]:
info.isnull().sum()

state                             0
name                              0
censusarea                        0
latitude                          0
longitude                         0
hospital_count                  629
bed_count                       629
fips_plotly                       3
popestimate2018                   3
median_household_income_2018      4
dtype: int64

In [61]:
deaths.isnull().sum()

uid               0
iso2              0
iso3              0
code3             0
fips              2
admin2            0
province_state    0
country_region    0
lat               0
long              0
combined_key      0
population        0
1/22/2020         0
1/23/2020         0
1/24/2020         0
1/25/2020         0
1/26/2020         0
1/27/2020         0
1/28/2020         0
1/29/2020         0
1/30/2020         0
1/31/2020         0
2/1/2020          0
2/2/2020          0
2/3/2020          0
2/4/2020          0
2/5/2020          0
2/6/2020          0
2/7/2020          0
2/8/2020          0
2/9/2020          0
2/10/2020         0
2/11/2020         0
2/12/2020         0
2/13/2020         0
2/14/2020         0
2/15/2020         0
2/16/2020         0
2/17/2020         0
2/18/2020         0
2/19/2020         0
2/20/2020         0
2/21/2020         0
2/22/2020         0
2/23/2020         0
2/24/2020         0
2/25/2020         0
2/26/2020         0
2/27/2020         0
2/28/2020         0
2/29/2020         0
3/1/2020          0
3/2/2020          0
3/3/2020          0
3/4/2020          0
3/5/2020          0
3/6/2020          0
3/7/2020          0
3/8/2020          0
3/9/2020          0
3/10/2020         0
3/11/2020         0
3/12/2020         0
3/13/2020         0
3/14/2020         0
3/15/2020         0
3/16/2020         0
3/17/2020         0
3/18/2020         0
3/19/2020         0
3/20/2020         0
3/21/2020         0
3/22/2020         0
3/23/2020         0
3/24/2020         0
3/25/2020         0
3/26/2020         0
3/27/2020         0
3/28/2020         0
3/29/2020         0
3/30/2020         0
dtype: int64

In [62]:
info[info["fips_plotly"].isna()]

,state,name,censusarea,latitude,longitude,hospital_count,bed_count,fips_plotly,popestimate2018,median_household_income_2018
74,AK,Wade Hampton,17081.433,62.156299,-163.378364,NaN,NaN,NaN,NaN,NaN
1581,SD,Shannon,2093.898,43.337599,-102.555611,1.0,45.0,NaN,NaN,NaN
2355,VA,Bedford,6.878,37.335978,-79.517365,1.0,50.0,NaN,NaN,NaN

In [86]:
deaths = deaths[~deaths["fips"].isna()]
deaths[deaths["fips"].isna()]

Empty DataFrame
Columns: [uid, iso2, iso3, code3, fips, admin2, province_state, country_region, lat, long, combined_key, population, 1/22/2020, 1/23/2020, 1/24/2020, 1/25/2020, 1/26/2020, 1/27/2020, 1/28/2020, 1/29/2020, 1/30/2020, 1/31/2020, 2/1/2020, 2/2/2020, 2/3/2020, 2/4/2020, 2/5/2020, 2/6/2020, 2/7/2020, 2/8/2020, 2/9/2020, 2/10/2020, 2/11/2020, 2/12/2020, 2/13/2020, 2/14/2020, 2/15/2020, 2/16/2020, 2/17/2020, 2/18/2020, 2/19/2020, 2/20/2020, 2/21/2020, 2/22/2020, 2/23/2020, 2/24/2020, 2/25/2020, 2/26/2020, 2/27/2020, 2/28/2020, 2/29/2020, 3/1/2020, 3/2/2020, 3/3/2020, 3/4/2020, 3/5/2020, 3/6/2020, 3/7/2020, 3/8/2020, 3/9/2020, 3/10/2020, 3/11/2020, 3/12/2020, 3/13/2020, 3/14/2020, 3/15/2020, 3/16/2020, 3/17/2020, 3/18/2020, 3/19/2020, 3/20/2020, 3/21/2020, 3/22/2020, 3/23/2020, 3/24/2020, 3/25/2020, 3/26/2020, 3/27/2020, 3/28/2020, 3/29/2020, 3/30/2020]
Index: []

In [87]:
deaths["fips"].astype(str).str.len().value_counts()

7    2928
6     316
Name: fips, dtype: int64

In [89]:
info[info["fips_plotly"].isna()]

,state,name,censusarea,latitude,longitude,hospital_count,bed_count,fips_plotly,popestimate2018,median_household_income_2018
74,AK,Wade Hampton,17081.433,62.156299,-163.378364,NaN,NaN,NaN,NaN,NaN
1581,SD,Shannon,2093.898,43.337599,-102.555611,1.0,45.0,NaN,NaN,NaN
2355,VA,Bedford,6.878,37.335978,-79.517365,1.0,50.0,NaN,NaN,NaN

In [113]:
deaths[(deaths["admin2"] == "Bedford") & (deaths["province_state"] == "Virginia")]

,uid,iso2,iso3,code3,fips,admin2,province_state,country_region,lat,long,combined_key,population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,2/1/2020,2/2/2020,2/3/2020,2/4/2020,2/5/2020,2/6/2020,2/7/2020,2/8/2020,2/9/2020,2/10/2020,2/11/2020,2/12/2020,2/13/2020,2/14/2020,2/15/2020,2/16/2020,2/17/2020,2/18/2020,2/19/2020,2/20/2020,2/21/2020,2/22/2020,2/23/2020,2/24/2020,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,3/29/2020,3/30/2020
2834,84051019,US,USA,840,51019.0,Bedford,Virginia,US,37.308003,-79.528196,"Bedford, Virginia, US",78997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [111]:
deaths[deaths["admin2"] == "Oglala Lakota"]

,uid,iso2,iso3,code3,fips,admin2,province_state,country_region,lat,long,combined_key,population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,2/1/2020,2/2/2020,2/3/2020,2/4/2020,2/5/2020,2/6/2020,2/7/2020,2/8/2020,2/9/2020,2/10/2020,2/11/2020,2/12/2020,2/13/2020,2/14/2020,2/15/2020,2/16/2020,2/17/2020,2/18/2020,2/19/2020,2/20/2020,2/21/2020,2/22/2020,2/23/2020,2/24/2020,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020,3/25/2020,3/26/2020,3/27/2020,3/28/2020,3/29/2020,3/30/2020
2417,84046102,US,USA,840,46102.0,Oglala Lakota,South Dakota,US,43.337492,-102.55555,"Oglala Lakota, South Dakota, US",14177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [114]:
info.at[1581, "fips_plotly"] = deaths[deaths["admin2"] == "Oglala Lakota"]["fips"]
info.at[2355, "fips_plotly"] = deaths[(deaths["admin2"] == "Bedford") & (deaths["province_state"] == "Virginia")]["fips"]
info[info["fips_plotly"].isna()]

,state,name,censusarea,latitude,longitude,hospital_count,bed_count,fips_plotly,popestimate2018,median_household_income_2018
74,AK,Wade Hampton,17081.433,62.156299,-163.378364,NaN,NaN,NaN,NaN,NaN

In [116]:
info.loc[[1581, 2355]]

,state,name,censusarea,latitude,longitude,hospital_count,bed_count,fips_plotly,popestimate2018,median_household_income_2018
1581,SD,Shannon,2093.898,43.337599,-102.555611,1.0,45.0,46102.0,NaN,NaN
2355,VA,Bedford,6.878,37.335978,-79.517365,1.0,50.0,51019.0,NaN,NaN

In [118]:
info = info.drop(74, axis=0)
info[info["fips_plotly"].isna()]

Empty DataFrame
Columns: [state, name, censusarea, latitude, longitude, hospital_count, bed_count, fips_plotly, popestimate2018, median_household_income_2018]
Index: []

In [119]:
# info.to_csv("../population-income-and-hospitals/county-level-hospital-population-and-income-data.csv", index=0)